*{
    color: rgb(28, 23, 13);
    background-color: darkkhaki;


}
.header_area{
    /* background-image: url('..//my-first-repo/pexels-photo-2097090.jpeg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.logo{
    
    width: 49%;
    float: left;

}
.logo p{
    text-align: flex;
   
    
    
}
.nav{
    width: 49%;
    float: left;
  color: rgb(255, 157, 0);
 
}
ul li{
    display: inline-block;
   
}
ul li a{
    text-decoration: none;
    

}
ul li a:hover{
    background-color: rgb(248, 244, 244);
    
    border-radius: 5px 5px;
    
}